<!DOCTYPE html>
<html>
<head>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/">
	<title>Ultima muestra.</title>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Sensores</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/promedios">Promedios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/envivo">En vivo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ultimo">Ultimo</a>
          </li>
        </ul>
      </div>
    </nav>
</head>
<body>
	<h2 class="display-4" style= "text-align: center">Ultima muestra</h2>
<table class="table table-hover">
        <thead>
        <td>
            <th> Temperatura</th>
            <th> Humedad </th>
            <th> Viento </th>
            <th> Presion </th>
        </td>    
        </thead>
        <tbody>
            <td>
                <th> {{temp}}</th>
                <th> {{hum}} </th>
                <th> {{wind}} </th>
                <th> {{press}} </th>
            </td>
        </tbody>

        </table>
</body>
</html>